.foodTable thead tr {
  background-color: var(--darkBlue);
  color: #ffffff;
  text-align: left;
}

.foodTable th,
.foodTable td {
  padding: 0.7rem 1rem;
}
.foodTable th {
  font-size: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.foodTable tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
  font-size: 1rem;
}

.foodTable tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

.foodTable tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.foodTable tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.foodTable tbody tr:last-of-type {
  border-bottom: 1px solid rgb(43, 18, 18);
}

.foodTable tbody tr:hover {
  border-bottom: 1px solid #dddddd;
  color: rgb(52, 51, 51);
  background-color: rgb(212, 214, 213);
  transition: 0.3s;
}

.foodTable {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 14px;
}

.whiteContainer {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.notificationContent {
  max-width: 5ch;
}
