.whiteContainer {
  margin: auto;
  width: 60%;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.measurements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

h2 {
  margin-bottom: 1rem;
}

.measurement {
  width: 250px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.input {
  height: 25px;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 0.2rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  width: 100px;

  margin-left: -0.48rem;
}
.measurement_inputUnit {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}
@media only screen and (max-width: 650px) {
  .whiteContainer {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin: auto;
    width: 90%;
  }
}
