.exercisesTable thead tr {
  background-color: var(--darkBlue);
  color: #ffffff;
  text-align: left;
}

.exercisesTable th,
.exercisesTable td {
  padding: 0.7rem 1rem;
}

@media only screen and (max-width: 650px) {
  .exercisesTable th,
  .exercisesTable td {
    padding: 0.7rem 0.7rem;
  }
}

.exercisesTable th {
  font-size: 1rem;
  font-weight: 400;
}

.exercisesTable tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

.exercisesTable tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.exercisesTable tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.exercisesTable tbody tr:last-of-type {
  border-bottom: 1px solid rgb(43, 18, 18);
}

.exercisesTable tbody tr:hover {
  border-bottom: 1px solid #dddddd;
  color: rgb(52, 51, 51);
  background-color: rgb(212, 214, 213);
  transition: 0.3s;
}

.exercisesTable {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 14px;
}
.whiteContainer {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}
.whiteContainerNewExercise {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  width: 60%;
  margin: auto;
}
.select {
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(170, 169, 169);
  width: 200px;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
  margin-top: 0.5rem;
}
.grid {
  width: 90%;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1rem;
  gap: 0rem 3rem;
}
.secondaryMG {
  padding: 0.2rem;
  display: block;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
}

.nexExerciseForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.option {
  display: flex;
  gap: 1rem;
}

.secondaryMGCheckbox {
  margin-right: 0.2rem;
}

@media only screen and (max-width: 1100px) {
  .grid {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 650px) {
  .whiteContainerNewExercise {
    width: 90%;
  }
  .grid {
    grid-template-columns: auto auto;
  }
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0rem;
  }
}
