.requestsTable thead tr {
  background-color: var(--darkBlue);
  color: #ffffff;
  text-align: left;
}

.requestsTable th,
.requestsTable td {
  padding: 0.7rem 1rem;
}

@media only screen and (max-width: 650px) {
  .requestsTable th,
  .requestsTable td {
    padding: 0.7rem 0.7rem;
    font-size: 0.8rem;
  }
}

.requestsTable th {
  font-size: 0.8rem;
  font-weight: 400;
}

.requestsTable tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

.requestsTable tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.requestsTable tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.requestsTable tbody tr:last-of-type {
  border-bottom: 1px solid rgb(43, 18, 18);
}

.requestsTable tbody tr:hover {
  border-bottom: 1px solid #dddddd;
  color: rgb(52, 51, 51);
  background-color: rgb(212, 214, 213);
  transition: 0.3s;
}

.requestsTable {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 14px;
}
