.tpTable thead tr {
  background-color: var(--darkBlue);
  color: #ffffff;
  text-align: left;
}

.tpTable th,
.tpTable td {
  padding: 0.7rem 1rem;
}
.tpTable th:last-of-type,
.tpTable td:last-of-type {
  padding: 0.2rem;
}
.tpTable th {
  font-size: 0.8rem;
  font-weight: 400;
}

.tpTable tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

.tpTable tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.tpTable tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.tpTable tbody tr:last-of-type {
  border-bottom: 1px solid rgb(43, 18, 18);
}

.tpTable tbody tr:hover {
  border-bottom: 1px solid #dddddd;
  color: rgb(52, 51, 51);
  background-color: rgb(212, 214, 213);
  transition: 0.3s;
}

.tpTable {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 14px;
}
.optionsMuscle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.optionMuscle label {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
}

.removeButton {
  background-color: rgb(73, 114, 113);
  padding: 0.5rem 1rem;
  color: white;
  border: 0px;
  border-radius: 0.5rem;
  margin: 0.2rem;
}
.selectSession {
  width: 250px;
}
.sessionFilterContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.filterSpan {
  min-width: 110px;
}

.addMenuButton {
  background-color: rgb(73, 114, 113);
  padding: 0.5rem 1rem;
  color: white;
  border: 0px;
  border-radius: 0.5rem;
  margin: 0.2rem;
}

.modal {
  max-width: 500px;
  width: 90vw;
  padding-bottom: 3rem;
  overflow-y: scroll;
}
.modalContainer {
  padding: 0rem 1rem;
}

.modalSmall {
  max-width: 500px;
  width: 90vw;
  min-height: 100px;
  max-height: 400px;
  padding-bottom: 3rem;
  overflow-y: scroll;
}

.modalTitle {
  background-color: white;
  color: rgb(43, 43, 43);
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modalClose {
  margin-top: -1rem;
  background-color: rgba(210, 214, 213, 0.704);
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.allergenTable thead tr {
  background-color: var(--darkBlue);
  color: #ffffff;
  text-align: left;
}

.allergenTable th,
.allergenTable td {
  padding: 0.7rem 2rem;
  width: 100%;
}
.allergenTable th {
  font-size: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.allergenTable tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
  font-size: 1rem;
}

.allergenTable tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

.allergenTable tbody tr td:first-child {
  max-width: 10px;
}

.allergenTable tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.allergenTable tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.allergenTable tbody tr:last-of-type {
  border-bottom: 1px solid rgb(244, 242, 242);
}

.allergenTable tbody tr:hover {
  border-bottom: 1px solid #dddddd;
  color: rgb(52, 51, 51);
  background-color: rgb(212, 214, 213);
  transition: 0.3s;
}

.filtersContainer {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.filterContainer {
  width: 100%;
}
.allergenTable {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 1rem;
  font-size: 14px;
  height: 200px;
  overflow-y: scroll;
  display: block;
  margin-bottom: 1rem;
}

.selectedIngredient {
  display: flex;
  flex-direction: column;
}

.session {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menuButtonGreen {
  padding: 0rem 0.8rem;
}

.selectedIngredientContainer {
  width: 100%;
}

.sessionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.sessionsContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.exerciseAmount {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nameContainer {
  margin-bottom: 1rem;
}
.patientInfoModal {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.exerciseName {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.tableContainer {
  margin-top: 0.5rem;
}

.note {
  border-radius: 0.5rem;
  border: 1px solid rgb(170, 169, 169);
  width: 100%;
  height: 200px;
  background-color: rgb(239, 239, 239);
  padding-left: 0.5rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.span {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.unhappy {
  color: rgb(243, 30, 30);
  font-weight: 600;
}

.tpInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.session_titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputNumber {
  width: 40px;
  border: 1px solid rgb(214, 214, 214);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.session_exerciseInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}
.titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selectRange {
  width: 30%;
  min-width: 150px;
}

@media only screen and (max-width: 650px) {
  .allergenTable th,
  .allergenTable td {
    padding: 0.7rem 3rem;
  }
  .foodTable th,
  .foodTable td {
    padding: 0.7rem 1.8rem;
  }
  .optionsMuscle {
    display: grid;
    row-gap: 0.2rem;
    align-items: center;

    grid-template-columns: auto auto auto auto;
  }
  .removeButton {
    background-color: rgb(73, 114, 113);
    padding: 0.5rem 0.2rem;
    color: white;
    border: 0px;
    border-radius: 0.5rem;
    margin: 0.2rem;
  }
}
@media only screen and (max-width: 650px) {
  .allergenTable th,
  .allergenTable td {
    font-size: 0.7rem;
  }
  .modal {
    height: 95vh;
    padding-top: 1rem;
  }
  .modal {
    width: 101vw;
    font-size: 0.8rem;
  }
}
