.nav {
  background-color: var(--darkBlue);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 0.7rem;
  align-items: center;
}

.navbarRightContainer {
  display: flex;
  gap: 1rem;
}
.navbarItem {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
}

.navbarItem:hover {
  background-color: var(--navbaritemColor);
}

.loginButton {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--navbaritemColor);
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.loginButton:hover {
  color: var(--navbaritemColor);
}

.navbarItems {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.navbarItemMenu {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--navbaritemColor);
  cursor: pointer;
}

.openedMenu {
  background-color: var(--openedMenuColor);
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  border-radius: 0rem 1rem 0rem 0rem;
  padding: 1rem;
  width: 15%;
  color: white;
  position: absolute;
  top: 0;
  z-index: 10000;
}

@media only screen and (min-width: 650px) {
  .navbar {
    width: 98%;
    margin: auto;
    min-width: 600px;
  }
}

.openedMenuItems {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  color: white;
  align-items: flex-start;
}

.openMenuItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.closeMenuButtonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.closeMenuButton {
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--navbaritemColor);
  cursor: pointer;
  margin-bottom: 2rem;
}

.navLink {
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.menuClosed {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 650px) {
  .menuClosed {
    display: none;
  }
  .openedMenu {
    width: 60%;
  }
}
.NavLink {
  text-decoration: none;
  color: white;
}

.backGround {
  background-color: rgba(76, 75, 75, 0.643);
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 10000;
  overflow: hidden;
}
.notificationCount {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgb(32, 182, 110);
  padding: 0.2rem 0.35rem;
  font-size: 10px;
  border-radius: 50%;
  position: absolute;
  margin-left: 1rem;
  margin-top: -2.7rem;
}
