.appointment {
  width: 100%;
}

.menu {
  display: flex;
  gap: 1rem;
  background-color: var(--darkGreen);
  color: white;
  justify-content: space-around;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem 1rem 0rem 0rem;
}
.menuItem {
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 0rem 0rem 1rem 1rem;
  margin-bottom: 1rem;
}

.report {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.smallTitle {
  font-size: 1.5rem;
  color: var(--darkGrey);
}
