.dal {
  display: flex;
  flex-direction: column;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.input {
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(170, 169, 169);
  width: 200px;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.span {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
