.banner {
  background-image: url("https://img2.goodfon.com/wallpaper/nbig/b/d1/interior-pool-interer-dizayn.jpg");
  background-size: cover;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome {
  color: white;
}
.welcomeButton {
  background-color: transparent;
  width: 200px;
  padding: 1rem;
  border: 3px solid white;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
}
.cards {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.card {
  width: 400px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
