.nexExercise {
}
.nexExerciseForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nexExerciseTitle {
  font-size: 64px;
  margin-bottom: 2rem;
}
.selectGrid {
  display: flex;
}
.addButton {
  background-color: var(--acceptButtonGreen);
  color: white;
  padding: 0.8rem;
  border: 1px solid white;
  font-weight: 500;
  cursor: pointer;
  width: 200px;
}
.form {
  gap: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.nutrientsContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  color: var(--darkGrey);
}
.nameInput {
  width: 200px;
  padding: 0.1rem;
  border: none;
  background-color: rgb(212, 231, 213);
}

.smallTitle {
  font-size: 1.5rem;
  color: var(--darkGrey);
}
.select {
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(170, 169, 169);
  width: 200px;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
  margin-top: 0.5rem;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1rem;
  gap: 0rem 2rem;
}
.secondaryMG {
  padding: 0.2rem;
}
