.nexExercise {
  display: flex;
  flex-direction: column;
}
.nexExerciseForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nexExerciseTitle {
  font-size: 64px;
  margin-bottom: 2rem;
}
.selectGrid {
  display: flex;
}
.addButton {
  background-color: var(--acceptButtonGreen);
  color: white;
  padding: 0.8rem;
  border: 1px solid white;
  font-weight: 500;
  cursor: pointer;
  width: 200px;
}
