.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.micros {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
