.form {
  gap: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.micros {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title {
  font-size: 64px;
  margin-bottom: 2rem;
}
.addButton {
  background-color: black;
  color: white;
  padding: 0.8rem;
  border: 1px solid white;
  font-weight: 500;
  cursor: pointer;
  width: 200px;
}
