.appointment {
  width: 100%;
}

.menu {
  display: flex;
  gap: 1rem;
  background-color: var(--darkGreen);

  justify-content: space-around;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem 1rem 0rem 0rem;
}
.menuItem {
  cursor: pointer;
  width: 140px;
  color: white;
}
.menuItemSelected {
  cursor: pointer;
  width: 140px;
  color: rgb(20, 239, 181);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 0rem 0rem 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid grey;
}

.report {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
}
.smallTitle {
  font-size: 1.5rem;
  color: var(--darkGrey);
}
.styledTable thead tr {
  background-color: var(--lightGreen);
  color: #ffffff;
  text-align: left;
}

.styledTable th,
.styledTable td {
  padding: 1rem 6.45rem;
}
.styledTable th {
  font-size: 1rem;
  font-weight: 400;
}

.styledTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styledTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styledTable tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.styledTable tbody tr:last-of-type {
}

.styledTable {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 350px;
  table-layout: fixed;
  border-radius: 1rem;
  overflow-y: scroll;
  display: block;
}
.styledTableNutrients thead tr {
  background-color: var(--lightGreen);
  color: #ffffff;
  text-align: left;
}

.styledTableNutrients th,
.styledTableNutrients td {
  padding: 0.5rem 1rem;
}
.styledTableNutrients th {
  font-size: 1rem;
  font-weight: 400;
}

.styledTableNutrients tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styledTableNutrients tbody tr:nth-of-type(odd) {
  background-color: #f3f3f3;
}

.styledTableNutrients tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

.styledTableNutrients tbody tr:last-of-type {
}

.styledTableNutrients {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-radius: 1rem;
  overflow: hidden;
}
.mgSearchInput {
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(170, 169, 169);
  width: 520px;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
  margin-bottom: 1.5rem;
}
.exSearchInput {
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(170, 169, 169);
  width: 550px;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
  margin-bottom: 1.5rem;
}
.blackButton {
  background-color: rgb(149, 142, 142);
  color: white;
  padding: 0.8rem;
  border: 1px solid rgb(255, 255, 255);
  font-weight: 500;
  cursor: pointer;
  width: 50px;
  border-radius: 1rem;
}
.exerciseContainer {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
}
.exercise {
  background-color: rgb(162, 165, 164);
  border: 1px solid rgb(159, 150, 150);
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
.deleteButton {
  background-color: rgb(39, 40, 40);
  color: white;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(39, 40, 40);
  font-weight: 500;
  cursor: pointer;
  border-radius: 1rem;
}
.severityDiv {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}
.severityInput {
  height: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(170, 169, 169);
  margin-left: 0.5rem;
  width: 100px;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
}

.checkBox {
  width: 1.2rem;
  height: 1.2rem;
}
.textArea {
  width: 500px;
  height: 300px;
  border-radius: 0.5rem;
  border: 1px solid rgb(170, 169, 169);
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
  margin-bottom: 1.5rem;
}

.medicalRecord {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dataContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.weightInput {
  height: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(170, 169, 169);
  margin-left: 0.5rem;
  width: 50px;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
}
.anamnesisInput {
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(170, 169, 169);
  width: 100%;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
  margin-bottom: 1.5rem;
}

.dalContainer {
  display: flex;
  gap: 5rem;
}
.diagnosesContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.therapy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.orderContainer {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  font-size: 1.2rem;
  color: var(--darkGrey);
}
.lightGreyButton {
  background-color: transparent;
  font-weight: 500;
  color: rgb(78, 77, 77);
  border: 1px solid rgb(78, 77, 77);
  cursor: pointer;
  width: 150px;
  border-radius: 1rem;
  padding: 0.8rem;
}
