.packages {
  padding: 3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 238, 228);
}
.package {
  display: flex;
  padding: 3rem;
  gap: 2rem;
  background-color: rgb(15, 54, 41);
  color: white;
  flex-direction: column;
  align-items: center;
}
.loginButton {
  background-color: rgba(14, 48, 38, 0.85);
  padding: 1rem;
  color: white;
  border: 1px solid white;
  font-weight: 500;
  cursor: pointer;
  width: 300px;
  margin-bottom: 50px;
}
.packagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 228);
}
@media only screen and (max-width: 600px) {
  .packages {
    display: flex;
    flex-direction: column;
  }
}
