.packages {
  padding: 3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 238, 228);
}
.package {
  display: flex;
  padding: 3rem;
  gap: 2rem;
  background-color: rgb(15, 54, 41);
  color: white;
  flex-direction: column;
  align-items: center;
}
.loginButton {
  background-color: rgba(51, 152, 85, 1);
  padding: 1.3rem;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  width: 250px;
  font-weight: 700;
  margin-bottom: 50px;
}

.Link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.packagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 228);
}
@media only screen and (max-width: 600px) {
  .packages {
    display: flex;
    flex-direction: column;
  }
}
