.users {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.searchInput{

  border-radius: 1rem 0rem 0rem 1em;
  padding: 0.7rem;
  width: 500px;
  border : 1px solid grey;

}
.containerCenter{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.searchButton{
  background-color: rgb(37, 36, 36);
  color: white;
  padding: 0.7rem 1.3rem;
  border-radius: 0rem 1rem 1rem 0rem;
  cursor: pointer;
  border : 1px solid grey;
}