.styledTable thead tr {
  background-color: var(--darkGreen);
  color: #ffffff;
  text-align: left;
}

.styledTable th,
.styledTable td {
  padding: 1rem 3rem;
}
.styledTable th {
  font-size: 1rem;
  font-weight: 400;
}

.styledTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styledTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styledTable tbody tr:last-of-type {
  border-bottom: 1px solid var(--darkGreen);
}

.styledTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}

.users {
  display: flex;
  flex-direction: column;
}

.users > p {
  color: black;
  font-size: 64px;
}

.viewProfileButton {
  background-color: black;
  color: white;
  padding: 0.8rem;
  border: 1px solid white;
  font-weight: 500;
  cursor: pointer;
  width: 150px;
}
.addButton {
  background-color: black;
  color: white;
  padding: 0.8rem;
  border: 1px solid white;
  font-weight: 500;
  cursor: pointer;
  width: 200px;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: right;
}

.title {
  font-size: 64px;
  margin-bottom: 2rem;
}
