.myProfile {
  width: 100vw;
}
.span {
  font-size: 20px;
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.myProfile {
  display: flex;
  flex-direction: column;
}

.changeRoleButton {
  background-color: black;
  color: white;
  padding: 0.8rem;
  border: 1px solid white;
  font-weight: 500;
  cursor: pointer;
}

.saveChangesButton {
  background-color: var(--acceptButtonGreen);
  color: white;
  padding: 0.8rem;
  border: 1px solid white;
  font-weight: 500;
  cursor: pointer;
}

.input {
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(170, 169, 169);
  width: 250px;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
}

.select {
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(170, 169, 169);
  width: 260px;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
}

.inputContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 3rem;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.w3schools.com/howto/img_avatar2.png");
  background-size: cover;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
}

.inputContainerVertical {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
