.side {
  display: flex;
}
.sideMain {
  display: flex;
}

.sideMain {
  overflow: auto;
  max-height: 100vh;
  background-color: var(--lightGrey);
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
