.trainingPlanRequest {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.trainingPlanTitle {
  font-size: 64px;
  margin-bottom: 2rem;
}
.sendButton {
  background-color: var(--acceptButtonGreen);
  color: white;
  padding: 0.8rem;
  border: 1px solid white;
  font-weight: 500;
  cursor: pointer;
  width: 200px;
}

.container {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.buttonContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
.planRequestForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: auto;
  border: 1px solid rgb(222, 220, 220);
  border-radius: 1rem;
  padding: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.smallTitle {
  font-size: 1.8rem;
  color: var(--darkGrey);
  margin-bottom: 1.5rem;
}
.trainers {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: auto;
  margin-bottom: 2rem;
}

.trainerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid rgb(205, 205, 205);
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
.trainerCardSelected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid rgb(205, 205, 205);
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgba(124, 190, 145, 0.3);
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.w3schools.com/howto/img_avatar2.png");
  background-size: cover;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
}

.input {
  height: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(170, 169, 169);
  width: 100px;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
}
