.trainingPlanRequest {
  display: flex;
  flex-direction: column;
}

.planRequestForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.trainingPlanTitle {
  font-size: 64px;
  margin-bottom: 2rem;
}
.sendButton {
  background-color: var(--acceptButtonGreen);
  color: white;
  padding: 0.8rem;
  border: 1px solid white;
  font-weight: 500;
  cursor: pointer;
  width: 200px;
}
