.styledTable thead tr {
  background-color: rgba(15, 54, 41, 0.9);
  color: #ffffff;
  text-align: left;
}

.styledTable th,
.styledTable td {
  padding: 1rem 8rem;
}
.styledTable th {
  font-size: 1rem;
  font-weight: 400;
}

.styledTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styledTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styledTable tbody tr:last-of-type {
  border-bottom: 2px solid rgb(15, 54, 41);
}

.styledTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.users {
  display: flex;
  flex-direction: column;
}

.users > p {
  color: black;
  font-size: 64px;
}

.viewProfileButton {
  background-color: rgb(24, 24, 24);
  color: white;
  padding: 0.8rem;
  border: 1px solid white;
  font-weight: 500;
  cursor: pointer;
}
