.tableContainer {
  overflow-x: auto;
  border-radius: 1rem;
}

.styledTable thead tr {
  background-color: rgb(71, 195, 145);
  color: #ffffff;
  text-align: left;
}

.styledTable th,
.styledTable td {
  padding: 1rem 2rem;
}
.styledTable th {
  font-size: 1rem;
  font-weight: 400;
}

.styledTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styledTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styledTable tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.styledTable tbody tr:last-of-type {
  border-bottom: 1px solid var(--darkGreen);
}

.styledTable {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-radius: 1rem;
  overflow: hidden;
}

.buttonContainerCenter {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}
.buttonContainerRight {
  display: flex;
  align-items: right;
  justify-content: right;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.title {
  font-size: 64px;
  margin-bottom: 2rem;
  color: var(--darkGrey);
}

.blackButton {
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 0.8rem;
  border: 1px solid rgb(51, 51, 51);
  font-weight: 500;
  cursor: pointer;
  width: 150px;
  border-radius: 1rem;
}

.greenButton {
  background-color: rgb(27, 111, 122);
  color: white;
  padding: 0.8rem;
  border: 1px solid rgb(27, 111, 122);
  font-weight: 500;
  cursor: pointer;
  width: 150px;
  border-radius: 1rem;
}

.redButton {
  background-color: var(--closeButton);
  color: white;
  padding: 0.8rem;
  border: 1px solid var(--closeButton);
  font-weight: 500;
  cursor: pointer;
  width: 150px;
  border-radius: 1rem;
}
.lightGreyButton {
  background-color: transparent;
  font-weight: 500;
  color: rgb(78, 77, 77);
  border: 1px solid rgb(78, 77, 77);
  cursor: pointer;
  width: 150px;
  border-radius: 1rem;
}

.avatarProfile {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url("https://www.w3schools.com/howto/img_avatar2.png");
  background-size: cover;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
}

.whiteButton {
  background-color: white;
  color: rgb(61, 61, 61);
  padding: 0.8rem;
  border: 1px solid var(--darkGrey);
  font-weight: 500;
  cursor: pointer;
  width: 150px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
}

.modal {
  display: flex;
  flex-direction: column;
}

.modalTitle {
  background-color: rgb(71, 195, 145);
  border-radius: 10px 10px 0px 0px;
  margin: -4px;
  color: white;
  padding: 1rem;
}
.modalTitleDark {
  background-color: rgb(47, 96, 76);
  border-radius: 10px 10px 0px 0px;
  border: none;
  margin: -4px;
  color: white;
  padding: 1rem;
}

.modalContainer {
  padding: 1rem;
}
.selectType {
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(170, 169, 169);
  width: 100px;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
}

.span {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.input {
  height: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(170, 169, 169);
  width: 200px;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
}
.buttonContainer {
  display: flex;
  gap: 0.5rem;
}
