.welcome {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: rgb(238, 238, 228);
}

.banner {
  display: flex;
  justify-content: space-between;
}
.bannerDiv {
  background-color: rgb(238, 238, 228);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  gap: 2rem;
  padding: 4rem;
}

.bannerDivWelcome {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  gap: 2rem;
  padding: 4rem;
  background-color: rgba(2, 13, 10, 0.221);
}
.bannerDivWelcome > h1 {
  color: rgba(14, 48, 38, 0.85);
  font-size: 64px;
}
.bannerDivWelcome > h2 {
  color: white;
}

.bannerDiv > h1,
h2 {
  color: rgba(14, 48, 38, 0.85);
}
.bannerDiv > h1 {
  font-size: 64px;
}

.bannerButton {
  background-color: rgba(51, 152, 85, 0.9);
  padding: 1.2rem 1.5rem;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
.bannerButton:hover {
  background-color: rgb(38, 187, 85);
}
.bannerImg {
  background-image: url("https://images.wallpaperscraft.com/image/single/road_man_run_142042_3840x2160.jpg");
  background-size: cover;
  height: 800px;
  width: 100vw;
  display: flex;
  color: white;
}

.Link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.cards {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.card {
  width: 400px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers {
  background-color: rgb(15, 54, 41);
  min-height: 400px;
  z-index: 20;
  display: flex;
  padding: 2rem;
  gap: 3rem;
  color: white;
  justify-content: center;
  align-content: center;
}
.offer {
  gap: 1rem;
  padding: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(162, 161, 161, 0.8);
  border-radius: 2rem 0rem;
}
.offer > h2 {
  color: white;
}
.bgbannerDiv {
  background-color: rgb(15, 54, 41);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
  color: white;
  max-width: 700px;
  gap: 2rem;
}
.bgbannerDiv > h2 {
  color: white;
}

.ImgNutrition {
  background-image: url("https://media-cldnry.s-nbcnews.com/image/upload/newscms/2017_28/1228258/healthy-food-live-longer-today-170712-tease.jpg");
  background-size: cover;
  height: 800px;
  width: 60vw;
  display: flex;
}

.imgSpa {
  background-image: url("https://i0.wp.com/www.thelodhi.com/wp-content/uploads/sites/3/2020/10/spa-slider1.jpg?resize=1300%2C730&ssl=1");
  background-size: cover;
  height: 800px;
  width: 60vw;
  display: flex;
}

.imgGym {
  background-image: url("https://wallpaperaccess.com/full/2591617.jpg");
  background-size: cover;
  height: 800px;
  width: 60vw;
  display: flex;
}
.aboutUs {
  background-color: rgb(15, 54, 41);
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  gap: 2rem;
  color: white;
  flex-direction: column;
}
.aboutUs > p {
  font-size: 64px;
}
.aboutUs > h2 {
  color: white;
}
@media only screen and (max-width: 600px) {
  .banner {
    display: flex;
    flex-direction: column;
  }
  .bgbannerDiv {
    display: flex;
    flex-direction: column;
  }

  .bannerImg {
    background-image: url("https://images.wallpaperscraft.com/image/single/road_man_run_142042_3840x2160.jpg");
    background-size: cover;
    height: 800px;
    width: 100%;
  }
  .imgSpa {
    width: 100%;
  }
  .imgGym {
    width: 100%;
  }
  .ImgNutrition {
    width: 100%;
  }
}
