.sidebar {
  background-color: var(--darkGreen);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  align-items: center;
  height: 100vh;
  font-size: 1rem;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.w3schools.com/howto/img_avatar2.png");
  background-size: cover;
  width: 8rem;
  height: 8rem;
  border-radius: 5rem;
  margin-top: 5rem;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  list-style-type: none;
  color: white;
}
.listItem {
  text-decoration: none;
  color: white;
  display: flex;
  padding: 1.5rem 2rem;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.listItem > a {
  text-decoration: none;
  color: white;
}
.listItem:hover {
  text-decoration: none;
  background-color: rgba(4, 239, 161, 0.129);
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.logoutButton {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.logoutButton:hover {
  color: #45ff93;
}

.menuButton {
  background-color: transparent;
  border: none;
}
.menuIcon {
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.menuIcon:hover {
  color: #45ff93;
}
.text {
  display: block;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
