.rootLayout {
  min-height: 100vh;
  background-color: var(--ligtGrey);
}

.main {
  background-color: var(--ligtGrey);
  padding: 1rem;
  padding-top: 5.2rem;
  height: 100%;
}
.outletContainer {
  width: 65%;
  min-width: 600px;
  margin: auto;
}
@media only screen and (max-width: 650px) {
  .outletContainer {
    width: 100%;
    min-width: 100px;
  }
  .main {
    padding: 0rem;
    padding-top: 5.2rem;
  }
}
