.pagination {
  margin-top: 1rem;
  background-color: white;
  padding: 1rem;

  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pages {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.goTo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.goToInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  font-weight: 800;
  color: rgb(139, 139, 139);
  cursor: pointer;
  background-color: rgb(230, 231, 232);
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backPageButton {
  font-weight: 800;
  color: rgb(139, 139, 139);
  cursor: pointer;
  background-color: rgb(230, 231, 232);
  border-radius: 0.5rem;
  padding: 0.25rem 0.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nextPageButton {
  font-weight: 800;
  color: rgb(139, 139, 139);
  cursor: pointer;
  background-color: rgb(230, 231, 232);
  border-radius: 0.5rem;
  padding: 0.25rem 0.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedPage {
  font-weight: 800;
  color: white;
  cursor: pointer;
  background-color: rgb(55, 56, 57);
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageNext,
.pagePrev {
  font-weight: 800;
  color: rgb(139, 139, 139);
  cursor: pointer;
  background-color: rgb(236, 245, 250);
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goButton {
  height: 32px;
  margin-left: -10px;
  border: none;
  color: rgb(139, 139, 139);
  border: 1px solid rgb(198, 201, 201);
  cursor: pointer;
  background-color: rgb(230, 231, 232);
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  padding: 0.2rem 0.3rem;
}
.inputNumber {
  height: 30px;
  border-radius: 0.5rem;
  border: 1px solid rgb(209, 208, 208);
  width: 30px;
  padding-left: 10px;
  background-color: rgb(249, 253, 255);
}

@media only screen and (max-width: 650px) {
  .pageNext,
  .pagePrev,
  .goTo {
    display: none;
  }
  .pages {
    justify-content: center;
  }
}
