.login {
  margin-top: 2rem;
}

.title {
  font-size: 2rem;
}

.loginForm {
  margin: auto;
  width: 70%;
}

.centerContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
