.notificationTable thead tr {
  background-color: var(--darkBlue);
  color: #ffffff;
  text-align: left;
}

.notificationTable th,
.notificationTable td {
  padding: 0.7rem 0.5rem;
  min-width: 80px;
}

.notificationTable th {
  font-size: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.notificationTable tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
  font-size: 1rem;
}

.notificationTable tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

.notificationTable tbody tr td:first-child {
  max-width: 10px;
}

.notificationTable tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.notificationTable tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.notificationTable tbody tr:last-of-type {
  border-bottom: 1px solid rgb(43, 18, 18);
}

.notificationTable tbody tr:hover {
  border-bottom: 1px solid #dddddd;
  color: rgb(52, 51, 51);
  background-color: rgb(212, 214, 213);
  transition: 0.3s;
}

.notificationTable {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 14px;
}
.notificationTable th:first-of-type,
.notificationTable td:first-of-type {
  min-width: 10px;
  padding-left: 1rem;
}
.whiteContainer {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.notificationContent {
  max-width: 5ch;
}
.notificationContentUnread {
  max-width: 5ch;
  font-weight: 600;
}

.modal {
  max-width: 500px;
  width: 90vw;
  padding-bottom: 1rem;
}
.modalContainer {
  padding: 0rem 1rem;
}

.modalTitle {
  background-color: white;
  color: rgb(43, 43, 43);
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modalClose {
  margin-top: -1rem;
  background-color: rgba(210, 214, 213, 0.704);
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.modalBody {
  padding: 1rem;
  padding-top: 0rem;
}
.rightContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
