.whiteContainer {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}
.centerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.rightContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}
.leftContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.greenButton {
  padding: 0.7rem 3rem;
  background-color: rgb(11, 183, 131);
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 1rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.redButton {
  padding: 0.7rem 3rem;
  background-color: rgb(41, 41, 41);
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 1rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.redButtonSmall {
  padding: 0.5rem 0.5rem;
  background-color: rgb(41, 41, 41);
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerButtomMargin {
  margin-bottom: 0.5rem;
}

.trashButton {
  padding: 0.4rem 1rem;
  background-color: rgb(41, 41, 41);
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 1rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  height: 36px;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 0.2rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  width: 165px;
}
.greenMenuButton {
  padding: 0.5rem 3rem;
  background-color: rgb(73, 114, 113);
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.containerButtomMarginHalfRem {
  margin-bottom: 0.5rem;
}

.span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.spanTop {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
}
.input {
  background-color: rgb(244, 242, 241);
  border: 1px solid rgb(190, 187, 187);
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.inputNumber {
  max-width: 70px;
  background-color: rgb(244, 242, 241);
  border: 1px solid rgb(190, 187, 187);
  border-radius: 0.5rem;
  padding: 0.3rem;
}
@media only screen and (max-width: 650px) {
  .greenMenuButton {
    padding: 0.5rem 1rem;
    background-color: rgb(73, 114, 113);
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
  }
}
