* {
  margin: 0px;
  padding: 0px;
  --darkGreen: rgb(18, 114, 93);
  --selectedGreen: #99db48;
  --bodyBeige: rgb(238, 238, 228);
  --acceptButtonGreen: #0ba04c;
  --closeButton: rgb(95, 25, 24);
  --lightGrey: rgb(244, 244, 244);
  --darkGrey: rgb(67, 67, 67);
}
